*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/* navigation bar */
 #logo img{
    width: 120px;
    height: 70px;
    margin-top: -35px;
    position: absolute;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1% 6%;
    /* background-color:  #376053; */
    align-items: center;
    height: 80px;


}
nav {
    background: linear-gradient(to right, rgba(5, 92, 2, 0.956),rgba(150, 183, 7, 0.927), rgba(5, 92, 2, 0.956));
} 
.menu_bar ul{
    display: flex;
    /* gap: 100px; */
    /* border: 1px solid black; */
    width: 600px;
    justify-content: space-around;
    
}
.menu_bar ul li{
    list-style: none;
    position: relative;
    justify-content: center;
}
.menu_bar ul li a{
    text-decoration:none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    font: 1.2em sans-serif bold;
}
.menu_bar ul li::after{
    content: "";
   position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    background-color: yellow;
    
    bottom: -5px;
    transition: 1s;
}
.menu_bar ul li:hover::after{
    width: 100%;
    
}
.sub-menu {
   
    display: none;
}
.menu_bar ul li:hover .sub-menu {
    display: block;
    margin-top: px;
    position: absolute;
    border-top: none;
    font-size: 14px;
    background: linear-gradient(to right,rgba(150, 183, 7, 0.927), rgba(5, 92, 2, 0.956));
    width: 200px;
    height: 170px;
    outline: none;
}
.menu_bar ul li:hover .sub-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 18px;
    margin-left: 14px;
    justify-content: space-around;
    
    gap: 5px;

}
.menu_bar ul li:hover ul li {
    /* margin: 10px 0px; */
    width: fit-content;
    height: 30px;
   font-weight: lighter;
    padding: 10px 0px;
    /* border: 1px solid black; */
    transition: 3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_bar ul li:hover ul li a{
   
    font: 1.2em sans-serif ;

    font-weight: light;
}
/* the body section */

.section1{
    background: linear-gradient(to right,rgba(8, 8, 8, 0.663), rgba(5, 92, 2, 0.353)),url(/zeeteechh/images/tech.jpg);
    display: flex;
    justify-content: center;
   
    gap: 50px;
    align-items: center;
    height: 500px;
background-size: cover;
    background-position: center;
}
.section1 .part1 {
   text-align: center;
    width: 60vw;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    height: 400px;
}
.section1 .part1 h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2PX 2PX 30px green; 
    font-weight: bold;
    color: #cecece;
    font-size: 40px;
  }
.section1 .part1 p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;

    color: white;
}
 #apply {
background-color: green;
width:200px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
height: 50px;
border-radius: 10px;

transition: color 0.9s linear;
border: none;
cursor: pointer;
position: relative;
overflow: hidden;

 }
 /* #apply:hover{
    background-color: rgba(166, 166, 9, 0.555);
 } */
#apply a{
    color: white;
    font-size: 17px;
    text-decoration: none;
   position: relative;
    
}
#apply::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: gold;
    height: 100%;
    z-index:;
    transition: transform 0.9s;
    transform-origin: 0 0;
    border-radius: 10px;
}
#apply::before {
    transform: scaleX(0);
}
#apply:hover::before {
    transform: scaleX(1);
    border-radius: 10px;
}
.typing-demo {
    width: 35ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    color: #f0f0f0;
    width: inherit;
    text-shadow: 2px 3px 40px;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

/* .section1 .part2 {

 height:inherit;
 width: 600px;
 display: flex;
    background: linear-gradient(to right,rgba(28, 171, 30, 0.045), rgba(5, 92, 2, 0.353)),url(/zeeteechh/images/image5.png);
 background-size: cover;
 background-position: center;

} */
/* the  progremmes we offer section */
.general {
    display: flex;
    flex-direction: column;
  
    align-items: center;
}
.container {
    display: flex;
    
   flex-direction: row;
    background-image:url(/zeeteechh/images/green1\ \(2\).JPG); 
    background-size: cover;
    background-position: center;
    width: 100%;

    justify-content: center;
    align-items: center;
    gap: 2vw;
    height: 500px;
    overflow: scroll;
    
}

.container1 {
    flex-basis: 18%;
   box-shadow: 2px 2px 30px;
    
    text-align: center;
   display: flex;
   align-items: center;
 flex-direction: column;
    background-color: white;
    justify-content: center;
    border-radius: 5px;
    height: 350px;
    padding: 0px 20px;
    
}
.container1 p {
    line-height: 25px;
}
.container1 button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    background-color: rgba(22, 143, 28, 0.573);;
    color: white;
    overflow: hidden; 
    position: relative;
    cursor: pointer;
}
.btn span{
    position: relative;
}

.btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gold;
    left: 0;
    top: 0;
    top: 0;
    border-radius: 5px;
    
    transition: transform 0.5s;
    transform-origin: 1 0;

}
.btn::before {
    transform: scaleX(0);
}
.btn:hover::before{
    transform: scaleX(1);
}
.container1 h4 {
    font-size: 20px;
}

/* dont miss the opportunity  section */
.contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   font-family: Arial, Helvetica, sans-serif;
   }
   .contain h1 {
       margin-bottom: 25px;
   }
   .contain form input {
   width: 400px;
   height: 40px;
   margin-left: 10px;
   background-color: white;
   outline: none;
   border: none;
   border: 1px solid white;
   }
   .contain button {
       width: 150px;
       height: 37px;
       border-radius: 3px;
       background-color: #2ec797;
       font-weight: bold;
       color: white;
       font-weight: bold;
       border: none;
       cursor: pointer;
       overflow: hidden;
       position: relative;
   }
   .contain button span{
    position: relative;
   } 
   .contain label {
       font-size: 12px;
   }
   
   .contain button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: gold;
    transition: transform 0.7s;
    transform-origin: 0 0;
   }
   .contain button::before {
    transform: scaleY(0);
   }
   .contain button:hover::before {
    transform: scaleY(1);
   }
   /* the footer section */

.footer {
    background-image: url(/zeeteechh/images/IMG_3685.PNG);
    background-size: cover;
    height: 450px;
    b
    margin-top: -60px;
}
footer {
    display: flex;
    justify-content: center;
    border-top: 1px dashed gray;
    
    gap: 20px;
   height: 400px;
   align-items: center;
    margin-top: 70px;
    
   
    
}
.container8  {
    display: flex;
    
    height: 125px;
    width: 65%;
    justify-content: space-around;
   
    height: fit-content;

}

.container2 {
    flex-basis: 20%;
    
    align-items: center;
    height: 200px;
    padding: 1vw;
    border: 1px solid b;
    height: 300PX;
    
   

}


.con2 {

    
   
}

.con4 {
    height: 380px;

    background-color:rgba(90, 134, 3, 0.573);
    background-size: cover;
    background-position: bottom;
    border-radius: 5px;
    
    box-shadow: 1px 4px 10px;
   
}
.con4 input{
    width: 260px;
    height: 30px;
        margin: 5px 0px;
        border: white;
        border-radius: 5px;
        padding-left: 10px;

}
.con4 button{
    width: 260px;
    height: 30px;
    background: rgba(0, 0, 0, 0.366);
    color: white;
    margin-top: 20px;
    border-radius: 2px;
    font-weight: bold;
    border: none;
    position: relative;
    

}
.con4 textarea {

}
.container2 h3{
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
}
.container2 p,a{
    font-weight: bolder;
    font-size: medium;
    font-family: sans-serif;
    text-shadow: 6px 6px 10px rgba(172, 255, 47, 0.403);
    color: black;
    text-decoration: none;
}

.con2 i {
    font-size: 15px;
    
    color: #2ec797;
    background-color: #fff5f5;
    padding: 5px;
    border-radius: 20px;
    margin-top: 10px;
}
footer a:hover{
    color: blue;
}

















/* media querry for tablet */


@media screen and  (max-width:1064px){

/* navigation bar */
#logo img{
    width: 100px;
    height: 60px;
    margin-top: -30px;
    position: absolute;
  
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1% 6%;
    /* background-color:  #376053; */
    align-items: center;
    height: 80px;


}
nav {
    background: linear-gradient(to right, rgba(5, 92, 2, 0.956),rgba(150, 183, 7, 0.927), rgba(5, 92, 2, 0.956));
} 
.menu_bar ul{
    display: flex;
    /* gap: 100px; */

    width: 400px;
    justify-content: space-around;
    
}
.menu_bar ul li{
    list-style: none;
    position: relative;
    justify-content: center;
}
.menu_bar ul li a{
    text-decoration:none;
    color: white;
    font-size: 16px;
    font-weight: bold;
   
}
.menu_bar ul li::after{
    content: "";
   position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    background-color: yellow;
    
    bottom: -5px;
    transition: 1s;
}
.menu_bar ul li:hover::after{
    width: 100%;
    
}
.sub-menu {
   
    display: none;
}
.menu_bar ul li:hover .sub-menu {
    display: block;
    margin-top: px;
    position: absolute;
    border-top: none;
    font-size: 14px;
    background: linear-gradient(to right,rgba(150, 183, 7, 0.927), rgba(5, 92, 2, 0.956));
    width: 170px;
    height: 135px;
    outline: none;
}
.menu_bar ul li:hover .sub-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 18px;
    margin-left: 14px;
    justify-content: space-around;
    
    gap: 5px;

}
.menu_bar ul li:hover ul li {
    /* margin: 10px 0px; */
    width: fit-content;
    height: 25px;
   font-weight: lighter;
    padding: 10px 0px;
    /* border: 1px solid black; */
    transition: 3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_bar ul li:hover ul li a{
   
    font: 1em sans-serif ;

    font-weight: light;
}

/* the body section */

.section1{
    background: linear-gradient(to right,rgba(8, 8, 8, 0.663), rgba(5, 92, 2, 0.353)),url(/zeeteechh/images/tech.jpg);
    display: flex;
    justify-content: center;
   
    gap: 50px;
    align-items: center;
    height: 400px;
background-size: cover;
    background-position: center;
}
.section1 .part1 {
   text-align: center;
    width: 60vw;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    height: 400px;
    
    margin-top: -25px;
}
.section1 .part1 h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2PX 2PX 30px green; 
    font-weight: bold;
    color: #cecece;
    font-size: 30px;
  }
.section1 .part1 p {
    font-size: 13.5px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;

    color: white;
}
 #apply {
background-color: green;
width:170px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
height: 40px;
border-radius: 7px;

transition: color 0.9s linear;
border: none;
cursor: pointer;
position: relative;
overflow: hidden;

 }

#apply a{
    color: white;
    font-size: 14px;
    text-decoration: none;
   position: relative;
    
}
#apply::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: gold;
    height: 100%;
    z-index:;
    transition: transform 0.9s;
    transform-origin: 0 0;
    border-radius: 10px;
}
#apply::before {
    transform: scaleX(0);
}
#apply:hover::before {
    transform: scaleX(1);
    border-radius: 10px;
}
.typing-demo {
    width: 35ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    color: #f0f0f0;
    width: inherit;
    text-shadow: 2px 3px 40px;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.7em;
  }
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
 
/* the  progremmes we offer section */
.general {
    display: flex;
    flex-direction: column;
  
    align-items: center;
    margin-top: -25px;
}
.general h1 {
    font-size: 25px;
}
.container {
    display: flex;
    
   flex-direction: column;
    background-image:url(/zeeteechh/images/green1\ \(2\).JPG); 
    background-size: cover;
    background-position: center;
    width: 100%;

    justify-content: center;
    align-items: center;
    gap: 2vw;
    flex-wrap: wrap;
    height: 420px;
    padding: 10PX;
    overflow: scroll;
    
}

.container1 {
    flex-basis: 10px;
   box-shadow: 2px 2px 30px;
   width: 35%;
    
    text-align: center;
   display: flex;
   align-items: center;
 flex-direction: column;
    background-color: white;
    justify-content: center;
    border-radius: 5px;
    height: 500px;
    padding: 10px 15px;
    
}
.container1 p {
    line-height: 25px;
    font-size: 14px;
}
.container1 button {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    background-color: rgba(22, 143, 28, 0.573);;
    color: white;
    overflow: hidden; 
    position: relative;
    cursor: pointer;
}
.btn span{
    position: relative;
}

.btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gold;
    left: 0;
    top: 0;
    top: 0;
    border-radius: 5px;
    
    transition: transform 0.5s;
    transform-origin: 1 0;

}
.btn::before {
    transform: scaleX(0);
}
.btn:hover::before{
    transform: scaleX(1);
}
.container1 h4 {
    font-size: 20px;
} 

/* dont miss the opportunity  section */
.contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   font-family: Arial, Helvetica, sans-serif;
   }
   .contain h1 {
       margin-bottom: 20px;
       font-size: 20px;
   }
   .contain form input {
   width: 350px;
   height: 40px;
   margin-left: 10px;
   background-color: white;
   outline: none;
   border: none;
   border: 1px solid white;
   }
   .contain button {
       width: 120px;
       height: 37px;
       border-radius: 3px;
       background-color: #2ec797;
       font-weight: bold;
       color: white;
       font-weight: bold;
       border: none;
       cursor: pointer;
       overflow: hidden;
       position: relative;
   }
   .contain button span{
    position: relative;
   } 
   .contain label {
       font-size: 12px;
   }
   
   .contain button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: gold;
    transition: transform 0.7s;
    transform-origin: 0 0;
   }
   .contain button::before {
    transform: scaleY(0);
   }
   .contain button:hover::before {
    transform: scaleY(1);
   }
   
.footer {
    background-image: url(/zeeteechh/images/IMG_3685.PNG);
    background-size: cover;
    height: 430px;
    margin-top: -70px;
}
footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px dashed gray;
    
    justify-content: center;
   height: 400px;
   align-items: center;
    margin-top: 70px;
    
   
    
}
.container8  {
    display: flex;

    height: 125px;
    width: 400px;
    
   justify-content: none;

    height: fit-content;

}

.container2 {
    flex-basis: 25%;
    
    align-items: center;
    height: 250px;
    
 
    
   

}


.con2 {
flex-basis: 39%;
    
   
}

.con4 {
    height: 360px;
    width: 250px;
    background-color:rgba(90, 134, 3, 0.573);
    background-size: cover;
    background-position: bottom;
    border-radius: 5px;
    
    box-shadow: 1px 4px 10px;
   
}
.con4 input{
    width: 230px;
    height: 30px;
        margin: 5px 0px;
        border: white;
        border-radius: 5px;
        padding-left: 10px;

}
.con4 button{
    width: 230px;
    height: 30px;
    background: rgba(0, 0, 0, 0.366);
    color: white;
    margin-top: 20px;
    border-radius: 2px;
    font-weight: bold;
    border: none;
    position: relative;
    

}
.con4 textarea {
width: 230px;
}
.container2 h3{
    font-size: 17px;
    font-weight: bold;
    font-family: sans-serif;
}
.container2 p,a{
    font-weight: bolder;
    font-size: 12px;
    font-family: sans-serif;
    text-shadow: 6px 6px 10px rgba(172, 255, 47, 0.403);
    color: black;
    text-decoration: none;
}

.con2 i {
    font-size: 15px;
    
    color: #2ec797;
    background-color: #fff5f5;
    padding: 5px;
    border-radius: 20px;
    margin-top: 10px;
}
footer a:hover{
    color: blue;
}

}



/* the media querry for mobile first section */




  @media screen and (max-width:800px) {
   
    #logo img{
        width: 90px;
        height: 50px;
        margin-top: px;
        position: relative;
        margin-top: 5px;
    }
    nav{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1% 6%;
        /* background-color:  #376053; */
        align-items: center;
        height: 80px;
    
    
    }
    nav {
        background: linear-gradient(to right, rgba(5, 92, 2, 0.956),rgba(150, 183, 7, 0.927), rgba(5, 92, 2, 0.956));
    } 
    .menu_bar ul{
        display: flex;
        /* gap: 100px; */
        /* border: 1px solid black; */
        width: 100vw;
        justify-content: ;
        height: 30px;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.547);
        
    }
    .menu_bar ul li{
        list-style: none;
        position: relative;
        justify-content: center;
    }
    .menu_bar ul li a{
        text-decoration:none;
        color: white;
        font-size: 16px;
        font-weight: bold;
        font: 1.2em sans-serif bold;
    }
    
.menu_bar ul li::after{
    content: "";
   position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    background-color: yellow;
    bottom: -5px;
    transition: 1s;
}
.menu_bar ul li:hover::after{
    width: 100%;
    
}
    
    .sub-menu{

    }

    .menu_bar ul li:hover .sub-menu {
        display: block;
        margin-top:-2px;
        position: absolute;
        border-top: none;
        font-size: 12.5px;
        background: linear-gradient(to right,rgba(150, 183, 7, 0.927), rgba(5, 92, 2, 0.956));
        width: 190px;
        height: 150px;
        outline: none;
    }
    .menu_bar ul li:hover .sub-menu ul {
        display: block;
        flex-direction: column;
        justify-content: center;
        margin-top: 8px;
    
        justify-content: space-around;
        
      
        background: none;
    }
    .menu_bar ul li:hover ul li {
        /* margin: 10px 0px; */
        width: fit-content;
        height: 25px;
       font-weight: lighter;
       border-bottom: 1px dashed gray;
       display: flex;
       
       align-items: center;
        padding-top: 15px;
        padding-bottom: 0;
        margin-left: -10px;
        
        
        margin-top: 10px;
        transition: 3s;
    }
    .menu_bar ul li:hover ul li a{
       
        font: 1.2em sans-serif ;
    
        font-weight: light;
    }
    



/* section1 */


    .section1{
   height: 60%;
    }
    .section1 .part1{
        margin-top: 15%;
    }
    .section1 .part1 h1{
        font-size: 1.5em;

    }
    .section1 .part1 p {
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
        color: white;
    }
    #apply {
        background-color: green;
        width: 150px;px;
        height: 40px;
        border-radius: 5px;
        transition: 0.9s ease;
        border: none;
        
         }
         #apply:hover{
            background-color: rgba(166, 166, 9, 0.555);
         }
        #apply a{
            color: white;
            font-size: 12px;
            text-decoration: none;
            
        }

        .typing-demo {
            width: 35ch;
            animation: typing 2s steps(22), blink .5s step-end infinite alternate;
            white-space: nowrap;
            color: #f0f0f0;
            width: 400px;
            padding-bottom: 70px;
            text-shadow: 2px 3px 40px;
            overflow: hidden;
            border-right: 2px solid;
            margin-top: 20px;
            font-family: monospace;
            font-size: 1.1em;
            margin-left: -60px;
          }
          @keyframes typing {
            from {
              width: 0
            }
          }
              
          @keyframes blink {
            50% {
              border-color: transparent
            }
          }
        /* section2 */
        
.general {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    
}

.general h1{
    font-size: x-large;
    padding-bottom: 15px;
}
.container {
    display: flex;
   flex-direction: column;
<<<<<<< HEAD
   background-image:url(/zeeteechh/images/green1\ \(2\).JPG);

   background-size: cover;
    background-position: center;
    width: 100%;
flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 500px;
    overflow: scroll;
    
    padding-bottom: 10px;
    padding-top: 145%;
}
.container1 {
    flex-basis: 1%;
   box-shadow: 2px 2px 30px;
    
    text-align: center;
   display: flex;
   align-items: center;
 flex-direction: column;
    background-color: white;
    justify-content: center;
    border-radius: 5px;
    height:400px;
    width: 250px;
    padding: 0px 20px;
    
}
.container1 h4{
    padding-top: 20px;
}
.container1 p {
    line-height: 25px;
}
.container1 button {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgba(22, 143, 28, 0.573);;
    color: white;
    margin-bottom: 20px;
}
.container1 h4 {
    font-size: 20px;
}
/* dont miss the opportunity  section */
.contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   font-family: Arial, Helvetica, sans-serif;
   }
   .contain h1 {
       margin-bottom: 25px;
       font-size: 1px;
   }
   .contain form input {
   width: 150px;
   height: 30px;
   margin-left: 10px;
   background-color: white;
   outline: none;
   border: 1px solid black;
   
   border: 1px solid white;
   }
   .contain button {
       width: 80px;
       
       height: 30px;
       border-radius: 3px;
       background-color: #2ec797;
       font-weight: bold;
       color: rgb(26, 17, 17);
       border: none;
       transition: 0.9s ease;
   }
   .contain label {
       font-size: 10px;
   }
   .contain button:hover {
       background-color: black;
   }
   /* the footer section */
.footer {
    height: 100%;

  
 
     margin-top: -10px;
     background-image: url(/zeeteechh/images/IMG_3685.PNG);
     background-size: cover;
    width: 100%;
    margin-bottom: -30px;
   
}
.footer .copy {
    font-size: 10px;
    margin-top: 30px;
}
footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
   
   height: 500px;
   
  margin-top: 60px;




}
.container8  {
    display: flex;
    
    height: 125px;
    width: 100%;
    justify-content: space-around;
    

}

.container2 {
    
    /* padding: 1vw; */
height: 150px;

    
   

}
.con2 {

flex-basis: 40%;
/* border: 1px solid black; */
margin-left: 10px;
display: ;

   
}

.con4 {
    height: 380px;
 
    background-color:rgba(90, 134, 3, 0.573);
    background-size: cover;
    background-position: bottom;
    border-radius: 5px;
    box-shadow: 1px 4px 10px;
   
}
.con4 input{
    width: 240px;
    height: 42px;
        margin: 5px 0px;

}
.con4 button{
    width: 150px;
    height: 25px;
    background: rgba(0, 0, 0, 0.366);
    color: white;
    margin-top: 10px;
    border-radius: 2px;
    border: none;
    margin-left: 20%;
    

}
.con4 textarea {
 border-radius: 5px;
    height: 50px;
    width: 240px;

}
.container2 h3{
    font-size: 11px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: underline;
    text-decoration-style: double;
    color: white;
}
.container2 p,a{
    font-weight: lighter;
    font-size: 10px;
    color: rgb(233, 228, 228);
    font-family: sans-serif;
    text-shadow: none;
    margin-top: -10px;
    text-decoration: none;
   
}

.con2 i {
    font-size: 9px;
    
    color: #2ec797;
    background-color: #fff5f5;
    padding: 3px;
    /* border: 1px solid black; */
    margin-left: 10px ; 
    border-radius: 20px;
margin-top: 5px;

}

  }
